### 1.search pattern brand and company if found print found else print not found

In [21]:
import re
text = 'Apple is a tech Brand, not a fruit'
match=re.search(r"[bB]rand",text)
match1=re.search(r"company",text)
if match:
    print("brand found in string text")
else:
    print("Brand not found")

if match1:
        print("Company found in string text")
else:
    print("Company not found")

brand found in string text
Company not found

### 2.split the given text at @

In [25]:
phrase = 'the list of given email are harry@gmail.com , ron@hotmail.com'
re.split(r"@",phrase)

['the list of given email are harry', 'gmail.com , ron', 'hotmail.com']

### 3.Remove the punctation from the given sentence

In [7]:
import re
test_phrase = 'hi! are you doing good?'
re.sub(r"[^\w\s]"," ",test_phrase)

'hi  are you doing good '

### 4.write a list of test pattern having a sequence of
* lower case letter,
* uppercase letter,
* lower or upper
* and one upper case followed by lower case

In [7]:
test_phrase = 'Regex Is difficult to grasp in short period of time'
print(re.findall(r"[a-z]+",test_phrase))

['egex', 's', 'difficult', 'to', 'grasp', 'in', 'short', 'period', 'of', 'time']

In [8]:
print(re.findall(r"[A-Z]+",test_phrase))

['R', 'I']

In [9]:
print(re.findall(r"[a-zA-Z]+",test_phrase))

['Regex', 'Is', 'difficult', 'to', 'grasp', 'in', 'short', 'period', 'of', 'time']

In [10]:
print(re.findall(r"[A-Z][a-z]+",test_phrase))

['Regex', 'Is']

### write a list of test pattern having a sequence
* sequence of non-digits
* sequence of whitespace
* sequence of non-whitespace
* alphanumeric characters
* non-alphanumeric

In [11]:
test_phrase = 'This is a string with some numbers 1233 and a symbol #hashtag'
print(re.findall(r"[A-Za-z|\#]+",test_phrase))

['This', 'is', 'a', 'string', 'with', 'some', 'numbers', 'and', 'a', 'symbol', '#hashtag']

In [12]:
print(re.findall(r"\s",test_phrase))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [13]:
print(re.findall(r"\S",test_phrase))

['T', 'h', 'i', 's', 'i', 's', 'a', 's', 't', 'r', 'i', 'n', 'g', 'w', 'i', 't', 'h', 's', 'o', 'm', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 's', '1', '2', '3', '3', 'a', 'n', 'd', 'a', 's', 'y', 'm', 'b', 'o', 'l', '#', 'h', 'a', 's', 'h', 't', 'a', 'g']

In [14]:
#find alphanumeric characters
print(re.findall(r"\w",test_phrase))

['T', 'h', 'i', 's', 'i', 's', 'a', 's', 't', 'r', 'i', 'n', 'g', 'w', 'i', 't', 'h', 's', 'o', 'm', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 's', '1', '2', '3', '3', 'a', 'n', 'd', 'a', 's', 'y', 'm', 'b', 'o', 'l', 'h', 'a', 's', 'h', 't', 'a', 'g']

In [15]:
#find non-alphanumeric characters
print(re.findall(r"\W",test_phrase))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '#']

### 5.find the date from the given text

In [22]:
import regex as re
text="is your birthday in 12-12-1992"
print(re.findall(r"[0-9].+",text))

['12-12-1992']

### 6.write a regrex that find anything that start with bat

In [23]:
text="Here comes the batman in batmobile"
print(re.findall(r"\bbat\w+",text))

['batman', 'batmobile']

### 7.write a regrex that find all the word that end with 'at'

In [23]:
text="The cat in the hat sat flat on the mat."
print(re.findall(r"[a-zA-Z]+at",text))

['cat', 'hat', 'sat', 'flat', 'mat']

In [24]:
#revised Q.7
text="The cat in the hat sat flat on the mat."
re.findall(r"\w+at\b",text)

['cat', 'hat', 'sat', 'flat', 'mat']

### 8.find the fistname and the last name of the person

In [22]:
import regex as re
text="First Name: Travis Last Name: Baker"
print(re.findall(r"(?<=\Name:\s)[A-Za-z]+",text))

['Travis', 'Baker']

In [25]:
#revised q.8
text="First Name: Travis Last Name: Baker"
print(re.findall(r"(?<=\:\s)\w+",text))

['Travis', 'Baker']

### 9.find all the words with an internal o

In [35]:
import regex as re
text="the quick brown fox over "
print(re.findall(r"[A-Za-z]+\o[A-Za-z]+",text))

['brown', 'fox']

### 10.find that begin or end with o

In [29]:
text="quick brown fox jumps over a lazy dogoo"
print(re.findall(r"\bo\w+|\w+o$",text))

['over', 'dogoo']

### 11.print the answer inthe given format . hint use re.sub
'The quick =brown= =fox= jumped =over= the lazy =dog= '

In [8]:
import regex as re
text="the quick brown fox jumped over the lazy dog"
re.sub(r'\s(\w*o\w+)', r' =\1= ', text)

'the quick =brown=  =fox=  jumped =over=  the lazy =dog= '

### 12.get the month from the given text

In [9]:
text="bill gate was born in 28-10-1955 and will was born in 1-02-2000"
print(re.findall(r"(?<=\d\-)\d+(?=\-\d)",text))

['10', '02']

### 13.splits before every o

In [107]:
text="python is an object oriented langugae"
print(re.split(r"(?=o)",text))

['pyth', 'on is an ', 'object ', 'oriented langugae']

### 14.write a pattern that find dogs and dog

In [13]:
test_string = "I like dogs but my dog doesn't like me."
print(re.findall(r"dog.",test_string))

['dogs', 'dog ']

### 15.Find all the p's and q's in the test string below.

In [23]:
test_string = "Quick, pizzaz shop is closing. Is this a path to queensland?"
print(re.findall(r"[pq][]a-zA-Z]+",test_string,re.I))

['Quick', 'pizzaz', 'path', 'queensland']

### 16.find everything except t in word

In [25]:
test_string = 'the quick brown fox jumped over the lazy dog'
print(re.findall(r"\b[A-SU-Za-su-z]+",test_string))

['quick', 'brown', 'fox', 'jumped', 'over', 'lazy', 'dog']

### 17.Find all the ^ characters in the following test sentence.

In [26]:
test_string = """You can match the characters not listed within the class by complementing the set. 

This is indicated by including a ^ as the first character of the class; 

^ outside a character class will simply match the ^ character. 

For example, [^5] will match any character except 5."""
print(re.findall(r"\^",test_string))

['^', '^', '^', '^']

### 18.Find all three digit prices in the following test sentence.

In [35]:
test_string = 'The Mac book cost over $999, while the windows system can be bought for less than $550.'
print(re.findall(r"\d{3}",test_string))

['999', '550']

### 19.Find all prices in the following test sentence.

In [36]:
test_string = """The iPhone X costs over $999, while the Android cost around $550.

Apple's MacBook Pro costs $1200, while razer blade cost $2500.

A new charger for iphone cost over $30.

Bose headphone cost around $390

"""
print(re.findall(r"\d+",test_string))

['999', '550', '1200', '2500', '30', '390']

### 20.find all the better in the given text

In [45]:
robot_string = '''The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
'''
print(re.findall(r"better",robot_string))

['better', 'better', 'better', 'better', 'better', 'better', 'better', 'better']

### 21.find the word that start with bat and end with man

In [46]:
test_string = 'Batman is the best movies, batwoman never herad about it.'
print(re.findall(r"bat[a-zA-Z]*man",test_string))

['batwoman']

### 22.remove the year form the given list

In [14]:
str="Another You (1991-2000)"
print(re.sub(r"\(\d+-\d+\)","",str))

Another You

### 23.write a regex to find the url_name only

In [31]:
name="http://www.google-map.com"
print(re.findall(r"http://[a-z]+.[a-z]+-[a-z]+.com",name))

['http://www.google-map.com']

### 24.use regrex to find the size of the screen

In [38]:
import regex as re
doc=["Lenovo IdeaPad S145 Laptop 39,6 cm (15,6 Zoll, 1920x1080, FHD, matt) Slim Notebook (Intel Pentium N5000, 8 GB RAM, 512 GB SSD, Intel UHD-Grafik 605, Windows 10 Home) schwarz",
"HP Notebook (15,6 Zoll), HD Display, AMD A4 2 x 2.50 GHz, 8 GB RAM, 256 GB SSD, HDMI, AMD R3 Grafik, Webcam, Windows 10 Pro",
'Neu Apple MacBook Air (13", 1,1 GHz dual-core Intel Core i3 Prozessor der 10. Generation, 8 GB RAM, 256 GB) - Silber',
'Lenovo (17,3 Zoll) Notebook (Intel Pentium 5405U 4-Thread CPU, 2.30 GHz, 8GB DDR4 RAM, 256GB SSD, 1000GB, DVD±RW, Intel HD, HDMI, Webcam, Bluetooth, USB3.0, WLAN, Win 10 Prof. 64, MS Office) #6477'
]
doc_new=""
doc_new=" ".join(doc)
print(re.findall(r"(\d.\,\d\s\w+|\d.\")",doc_new))

['39,6 cm', '15,6 Zoll', '15,6 Zoll', '13"', '17,3 Zoll']

#### use regrex to find the type of laptop eg: notebook

In [39]:
print(re.findall(r"\b[A-Z][a-z].[A-Za-z]+ok",doc_new))

['Notebook', 'Notebook', 'MacBook', 'Notebook']

#### find the type of display

In [41]:
print(re.findall(r"\b[^U]HD\b",doc_new))

['FHD', ' HD']

#### find the disk capacity size

In [102]:
print(re.findall(r"\d..\s[A-Z]B|\d..[A-Z]B(?=\s)",doc_new))

['512 GB', '256 GB', '256 GB', '256GB']

In [42]:
#by dipro
ans = lambda x: {'screen_size' : re.search(r"(?!\()\S+((?=\sZoll\b)|(?=\"))", x).group(),
                'type_laptop' : re.search(r"\w+(b|B)ook", x).group(),
                'type_display' : re.search(r"\w*HD",x).group() if re.search(r"\w*HD",x)!=None else None,
                'disk_capacity' : re.findall(r"(\d{2,4}\s*GB\b)",x)}

list(map(ans,doc))

[{'screen_size': '15,6',
  'type_laptop': 'Notebook',
  'type_display': 'FHD',
  'disk_capacity': ['512 GB']},
 {'screen_size': '15,6',
  'type_laptop': 'Notebook',
  'type_display': 'HD',
  'disk_capacity': ['256 GB']},
 {'screen_size': '13',
  'type_laptop': 'MacBook',
  'type_display': None,
  'disk_capacity': ['256 GB']},
 {'screen_size': '17,3',
  'type_laptop': 'Notebook',
  'type_display': 'HD',
  'disk_capacity': ['256GB', '1000GB']}]

### 25.write a expressoion to get a name and phonenumber for the person whose name start with j and end with neu

In [43]:
phones="""Earn Cash For Your Teeth 555-6312
Family Therapy Center 555-HUGS
Homer Jay Simpson (Plow King episode) 555-3223
Homer Jay Simpson (work) 555-7334
Jack Neu 555-7666
Jeb Neu 555-5543
Jennifer Neu 555-3652
Ken Neu 555-8752
Lionel Putz 555-5299
MAD Magazine 555-8628
Marital Street Hotline 555-1680
Marvin Monroe 555-3700
Marvin Monroe's radio therapy show 555-PAIN
Moe Szyslak (phone number spells SMITHERS) 7648-4377
Moe Szyslak 555-0000
Moe's Tavern 555-1239
Mr. Plow 555-3226"""
print(re.findall(r"[Jj].+[Nn]eu\s\d.+",phones))

['Jack Neu 555-7666', 'Jeb Neu 555-5543', 'Jennifer Neu 555-3652']

### 26.from the given input find the month either feb or feburary and the year
* output[('February', '2011'), ('Feb', '2012'), ('Feb', '2016')]

In [19]:
import re
year=" February 2011 and Feb 2012 was the worst year the Feb 2016"
year_new=""
year_new=" ".join((re.findall(r"[Ff][a-z]+\s\d+",year)))
year_new=year_new.split()
it_new=iter(year_new)
d=list(zip(it_new,it_new))
print(d)

[('February', '2011'), ('Feb', '2012'), ('Feb', '2016')]

### 27.from the given tag get the text as:
* composer:  steven wilson 
* author:  wilson 
* city:  kingston 
* band: porcupine tree
* song: Yellow Hedgerow Dreamscape

In [44]:
a="""<composer> steven wilson </composer>
    <author> wilson </author>
    <city> kingston </city>
    <band>porcupine tree</band>
    <song>Yellow Hedgerow Dreamscape</song>"""
a1=re.findall(r"(?<=\<)[a-z]+",a)
a2=re.findall(r"(?<=\>)[A-Za-z]+\s[a-zA-Z]+\s[A-Z]\w+|(?<=\>)[a-z]+\s\w+|(?<=\s)\w+\s[a-z]+|(?<=\s)[a-z]+",a)
dict(zip(a1,a2))

{'composer': 'steven wilson',
 'author': 'wilson',
 'city': 'kingston',
 'band': 'porcupine tree',
 'song': 'Yellow Hedgerow Dreamscape'}

### 28.from the given list of string print get the output as
* Allison Neu 99-12332-213123
* Lionel Messi 123-5435-453534
* Mark zukerberg 555-5299-32
* Homer Jay Simpson 55-7334-324

using regex hint: user a grouping from re.search method

In [45]:
l = ["99-12332-213123 Neu, Allison", 
     " 123-5435-453534 Messi, Lionel", 
     "555-5299-32 zukerberg, Mark",
     "55-7334-324 Simpson, Homer Jay"]
l1=""
li=" ".join(l)
l1=re.findall(r"\b[A-Z]\w+\s[A-Z]\w+|\b[A-Z]\w+(?=\s)",li)
l2=re.findall(r"\b[A-Za-z]\w+(?=\,)",li)
l3=re.findall(r"\b\d+-\d+-\d+",li)
l4=tuple(zip(l1,l2,l3))

In [210]:
l4

(('Allison', 'Neu', '99-12332-213123'),
 ('Lionel', 'Messi', '123-5435-453534'),
 ('Mark', 'zukerberg', '555-5299-32'),
 ('Homer Jay', 'Simpson', '55-7334-324'))

In [46]:
#another method to solve Q.28
l = ["99-12332-213123 Neu, Allison", 
     " 123-5435-453534 Messi, Lionel", 
     "555-5299-32 zukerberg, Mark",
     "55-7334-324 Simpson, Homer Jay"]
for i in l:
    li9=re.search(r"([0-9-]+)\s([A-Za-z]+)\,\s([A-Z].*)",i)
    print(li9.group(3)+" "+li9.group(2)+" "+li9.group(1))

Allison Neu 99-12332-213123
Lionel Messi 123-5435-453534
Mark zukerberg 555-5299-32
Homer Jay Simpson 55-7334-324

### 29.from the given string use a named capturing group to get the the hour,min,sec .

In [47]:
s = "Sun Oct 14 12:48:13 CEST 2021"
s1=re.search(r"\b(\d\d):(\d.):(\d\d)",s)
print("hour is" ,s1.group(1))
print("minute is" ,s1.group(2))
print("second is" ,s1.group(3))

hour is 12
minute is 48
second is 13

### 30.from the given string get the cities name only and append it in a list

In [49]:
cities="""1.  Berlin          3.382.169 Berlin
2.  Hamburg         1.715.392 Hamburg
3.  München         1.210.223 Bayern
4.  Köln              962.884 Nordrhein-Westfalen
5.  Frankfurt am Main 646.550 Hessen
6.  Essen             595.243 Nordrhein-Westfalen
7.  Dortmund          588.994 Nordrhein-Westfalen
8.  Stuttgart         583.874 Baden-Württemberg
9.  Düsseldorf        569.364 Nordrhein-Westfalen
10. Bremen            539.403 Bremen
11. Hannover          515.001 Niedersachsen
12. Duisburg          514.915 Nordrhein-Westfalen
13. Leipzig           493.208 Sachsen
14. Nürnberg          488.400 Bayern
15. Dresden           477.807 Sachsen
16. Bochum            391.147 Nordrhein-Westfalen
17. Wuppertal         366.434 Nordrhein-Westfalen
18. Bielefeld         321.758 Nordrhein-Westfalen
19. Mannheim          306.729 Baden-Württemberg"""


new=re.findall(r"\b(\d+\.)\s+([A-Z][a-zöü]*)",cities)
new1=[]
for i in range(len(new)):
    new1.append(new[i][1])
print(new1)

['Berlin', 'Hamburg', 'München', 'Köln', 'Frankfurt', 'Essen', 'Dortmund', 'Stuttgart', 'Düsseldorf', 'Bremen', 'Hannover', 'Duisburg', 'Leipzig', 'Nürnberg', 'Dresden', 'Bochum', 'Wuppertal', 'Bielefeld', 'Mannheim']

In [50]:
#another way for Q.30
cities_name=re.findall(r"(?!\d+)\w+|(?!\d+)\w+\s\w+\s\w+",cities)
output=sorted(list(set(cities_name)))
for i in output:
    print(i)

Baden
Bayern
Berlin
Bielefeld
Bochum
Bremen
Dortmund
Dresden
Duisburg
Düsseldorf
Essen
Frankfurt
Hamburg
Hannover
Hessen
Köln
Leipzig
Main
Mannheim
München
Niedersachsen
Nordrhein
Nürnberg
Sachsen
Stuttgart
Westfalen
Wuppertal
Württemberg
am

### 31.open a file code.txt and search for all the city and post code in the a text file .
use context manager (with ) keyword to open file
since the same city will have a many postal code
create a dictionary where it will add all the postal code of the same city eg: ```` ' Aachen': {' 52070 ', ' 52074 ', ' 52066 ', ' 52072 ', ' 52064 ', ' 52068 ', ' 52080 ', ' 52076 ', ' 52078 ', ' 52062 '}, ``` output: use the question above to get the top 19 cities postal code only.

In [52]:
import re
with open('code.txt') as f:
    data = f.read()
cit_postal = re.findall(r"\d+\s(?P<city>\D+)\s(?P<postal>\d+)", data)
cities_dict = {}
for i, j in cit_postal:
    if i not in cities_dict.keys():
        cities_dict.update({i: [j]})
    else:
        cities_dict[i].append(j)
    i = 1
for city in cities_name:
    print(i, ".", "City :", city, "\n Postal Codes: \n", cities_dict[city])
    i += 1

1 . City : Berlin
 Postal Codes:
 ['10115', '10117', '10119', '10178', '10179', '10243', '10245', '10247', '10249', '10315', '10317', '10318', '10319', '10365', '10367', '10369', '10405', '10407', '10409', '10435', '10437', '10439', '10551', '10553', '10555', '10557', '10559', '10585', '10587', '10589', '10623', '10625', '10627', '10629', '10707', '10709', '10711', '10713', '10715', '10717', '10719', '10777', '10779', '10781', '10783', '10785', '10787', '10789', '10823', '10825', '10827', '10829', '10961', '10963', '10965', '10967', '10969', '10997', '10999', '12043', '12045', '12047', '12049', '12051', '12053', '12055', '12057', '12059', '12099', '12101', '12103', '12105', '12107', '12109', '12157', '12159', '12161', '12163', '12165', '12167', '12169', '12203', '12205', '12207', '12209', '12247', '12249', '12277', '12279', '12305', '12307', '12309', '12347', '12349', '12351', '12353', '12355', '12357', '12359', '12435', '12437', '12439', '12459', '12487', '12489', '12524', '12526', '12527', '12555', '12557', '12559', '12587', '12589', '12619', '12621', '12623', '12627', '12629', '12679', '12681', '12683', '12685', '12687', '12689', '13051', '13053', '13055', '13057', '13059', '13086', '13088', '13089', '13125', '13127', '13129', '13156', '13158', '13159', '13187', '13189', '13347', '13349', '13351', '13353', '13355', '13357', '13359', '13403', '13405', '13407', '13409', '13435', '13437', '13439', '13465', '13467', '13469', '13503', '13505', '13507', '13509', '13581', '13583', '13585', '13587', '13589', '13591', '13593', '13595', '13597', '13599', '13627', '13629', '14050', '14052', '14053', '14055', '14057', '14059', '14089', '14109', '14129', '14163', '14165', '14167', '14169', '14193', '14195', '14197', '14199']
2 . City : Berlin
 Postal Codes:
 ['10115', '10117', '10119', '10178', '10179', '10243', '10245', '10247', '10249', '10315', '10317', '10318', '10319', '10365', '10367', '10369', '10405', '10407', '10409', '10435', '10437', '10439', '10551', '10553', '10555', '10557', '10559', '10585', '10587', '10589', '10623', '10625', '10627', '10629', '10707', '10709', '10711', '10713', '10715', '10717', '10719', '10777', '10779', '10781', '10783', '10785', '10787', '10789', '10823', '10825', '10827', '10829', '10961', '10963', '10965', '10967', '10969', '10997', '10999', '12043', '12045', '12047', '12049', '12051', '12053', '12055', '12057', '12059', '12099', '12101', '12103', '12105', '12107', '12109', '12157', '12159', '12161', '12163', '12165', '12167', '12169', '12203', '12205', '12207', '12209', '12247', '12249', '12277', '12279', '12305', '12307', '12309', '12347', '12349', '12351', '12353', '12355', '12357', '12359', '12435', '12437', '12439', '12459', '12487', '12489', '12524', '12526', '12527', '12555', '12557', '12559', '12587', '12589', '12619', '12621', '12623', '12627', '12629', '12679', '12681', '12683', '12685', '12687', '12689', '13051', '13053', '13055', '13057', '13059', '13086', '13088', '13089', '13125', '13127', '13129', '13156', '13158', '13159', '13187', '13189', '13347', '13349', '13351', '13353', '13355', '13357', '13359', '13403', '13405', '13407', '13409', '13435', '13437', '13439', '13465', '13467', '13469', '13503', '13505', '13507', '13509', '13581', '13583', '13585', '13587', '13589', '13591', '13593', '13595', '13597', '13599', '13627', '13629', '14050', '14052', '14053', '14055', '14057', '14059', '14089', '14109', '14129', '14163', '14165', '14167', '14169', '14193', '14195', '14197', '14199']
3 . City : Hamburg
 Postal Codes:
 ['20095', '20097', '20099', '20144', '20146', '20148', '20149', '20249', '20251', '20253', '20255', '20257', '20259', '20354', '20355', '20357', '20359', '20457', '20459', '20535', '20537', '20539', '21029', '21031', '21033', '21035', '21037', '21039', '21073', '21075', '21077', '21079', '21107', '21109', '21129', '21147', '21149', '22041', '22043', '22045', '22047', '22049', '22081', '22083', '22085', '22087', '22089', '22111', '22113', '22115', '22117', '22119', '22143', '22145', '22147', '22149', '22159', '22175', '22177', '22179', '22297', '22299', '22301', '22303', '22305', '22307', '22309', '22335', '22337', '22339', '22359', '22391', '22393', '22395', '22397', '22399', '22415', '22417', '22419', '22453', '22455', '22457', '22459', '22523', '22525', '22527', '22529', '22547', '22549', '22559', '22587', '22589', '22605', '22607', '22609', '22761', '22763', '22765', '22767', '22769', '27499']
4 . City : Hamburg
 Postal Codes:
 ['20095', '20097', '20099', '20144', '20146', '20148', '20149', '20249', '20251', '20253', '20255', '20257', '20259', '20354', '20355', '20357', '20359', '20457', '20459', '20535', '20537', '20539', '21029', '21031', '21033', '21035', '21037', '21039', '21073', '21075', '21077', '21079', '21107', '21109', '21129', '21147', '21149', '22041', '22043', '22045', '22047', '22049', '22081', '22083', '22085', '22087', '22089', '22111', '22113', '22115', '22117', '22119', '22143', '22145', '22147', '22149', '22159', '22175', '22177', '22179', '22297', '22299', '22301', '22303', '22305', '22307', '22309', '22335', '22337', '22339', '22359', '22391', '22393', '22395', '22397', '22399', '22415', '22417', '22419', '22453', '22455', '22457', '22459', '22523', '22525', '22527', '22529', '22547', '22549', '22559', '22587', '22589', '22605', '22607', '22609', '22761', '22763', '22765', '22767', '22769', '27499']

KeyError: 'München'

### 32.write a program that recoginzes the postal code or not
https://en.wikipedia.org/wiki/Postcodes_in_the_United_Kingdom#:~:text=The%20outward%20code%20includes%20the,%2C%20and%20%22L1%208JQ%22.

eg: ``` N1 9GU matched! E98 1TT matched! TIM E22 is not a valid postcode! A B1 A22 is not a valid postcode! EC2N 2DB matched!

In [53]:
codes = ["SW1A 0AA", # House of Commons
                "BS40 5AA ", # bristol
                "CB6 1AA",#cambridge
                "CB2 1TN",#cambdrige uni
                 "SW1A 1AA", # Buckingham Palace
                 "SW1A 2AA", # Downing Street
                 "DH98 1BT", # British Telecom
                 "OX1 2JD",#oxford
                 "N1 9GU", # Guardian Newspaper
                 "E98 1TT", # The Times
                 "TIM E22", # a fake postcode
                 "A B1 A22", # not a valid postcode
                 "EC2N 2DB", # Deutsche Bank
                 "SE9 2UG", # University of Greenwhich
                 "N1 0UY", # Islington, London
                 "EC1V 8DS", # Clerkenwell, London
                 "WC1X 9DT", # WC1X 9DT
                 "B42 1LG", # Birmingham
                 "B28 9AD", # Birmingham
                 "W12 7RJ", # London, BBC News Centre
                 "BBC 017" ,# a fake postcode
                 "JAM 001", #fake
                 "BD7 1DP",#bradford uni
                 "JCK 4DA", #not valid
                 
                ]
for i in codes:
    if re.search(r"\b[0-9][A-Z][A-Z]",i):
        if re.search(r"\b[A-Z]1|\b[A-Z].\d[A-Z0-9]|\b[A-Z]\d.|\b[A-Z].\d",i):
            print(f"{i} is matched code.")
        else:
            print(f"{i} is not a valid code.")
    else:
        if re.search(r"\b[A-Z][A-Z].",i):
            print(f"{i} is a fake code.")
        else:
            print(f"{i} is not a valid postcode.")

SW1A 0AA is matched code.
BS40 5AA  is matched code.
CB6 1AA is matched code.
CB2 1TN is matched code.
SW1A 1AA is matched code.
SW1A 2AA is matched code.
DH98 1BT is matched code.
OX1 2JD is matched code.
N1 9GU is matched code.
E98 1TT is matched code.
TIM E22 is a fake code.
A B1 A22 is not a valid postcode.
EC2N 2DB is matched code.
SE9 2UG is matched code.
N1 0UY is matched code.
EC1V 8DS is matched code.
WC1X 9DT is matched code.
B42 1LG is matched code.
B28 9AD is matched code.
W12 7RJ is matched code.
BBC 017 is a fake code.
JAM 001 is a fake code.
BD7 1DP is matched code.
JCK 4DA is not a valid code.

### 33.write a expression to get first name , last name and position
hint:you can use re.split

In [55]:
lines = ["surname: Trump, prename: Donald, profession: ex.president", 
"surname: Merkel, prename: Angela, profession: chancellor",
"surname: Biden, prename: joe, profession: president",
"surname: musk, prename: elon, profession: enturperuner"]
for i in lines:
    lines2=re.search(r"surname:\s([A-Za-z]*),\sprename:\s([A-Za-z]+)..profession:\s([a-z].\.[a-z]+|[a-z]+)",i)
    lines4=lines2.group(2)+" "+lines2.group(1)+" "+"-"+lines2.group(3)
    print(lines4)

Donald Trump -ex.president
Angela Merkel -chancellor
joe Biden -president
elon musk -enturperuner

In [57]:
#another way for Q32.
for i in lines:
    result=re.split(r",* *\w*:",i)
    print(result[1:])

[' Trump', ' Donald', ' ex.president']
[' Merkel', ' Angela', ' chancellor']
[' Biden', ' joe', ' president']
[' musk', ' elon', ' enturperuner']

### 34.from a given text write a expression to get the
1289,T83456
 
1289,Z22334
 
1205,T10032
 
1205,B77301
 
1205,T10786
 
1205,C77502
 
1410,K34001
 
1410,T98987

In [30]:
text="""customer-id 1111
T93923
customer-id 1111
customer-id 1223
T10321
B71313
customer-id 1223
customer-id 1410
K34001
T98987
customer-id 1410
customer-id 1223
T10786
C77502
customer-id 1225
customer-id 1289
Z22334
customer-id 1289"""
re1 = re.findall("([A-Z]\d{5})\ncustomer-id\s(\d{4})", text)
re1 = [(i,j) for j,i in re1]
re1.extend(re.findall("(\d{4})\n([A-Z]\d{5})", text))
for i,j in sorted(re1):
    print(f"{i},{j}")

1111,T93923
1111,T93923
1223,B71313
1223,T10321
1223,T10786
1225,C77502
1289,Z22334
1289,Z22334
1410,K34001
1410,T98987