###  search pattern brand and company  if found print found else print not found

In [ ]:
text = 'Apple is a tech brand, not a fruit'

### split the given text at @

In [ ]:
phrase = 'the list of given email are harry@gmail.com , ron@hotmail.com'

### Remove the punctation from the given sentence

In [ ]:
test_phrase = 'hi! are you doing good?'

### write a list of test pattern having a sequence of 
- lower case letter, 
- uppercase letter, 
- lower or upper 
- and one upper case followed by lower case

In [ ]:
import re
test_phrase = 'Regex Is difficult to grasp in short period of time'
#answer
'''
['egex', 's', 'difficult', 'to', 'grasp', 'in', 'short', 'period', 'of', 'time']

['R', 'I']

['Regex', 'Is', 'difficult', 'to', 'grasp', 'in', 'short', 'period', 'of', 'time']

['Regex', 'Is']

'''

"\n['egex', 's', 'difficult', 'to', 'grasp', 'in', 'short', 'period', 'of', 'time']\n\n['R', 'I']\n\n['Regex', 'Is', 'difficult', 'to', 'grasp', 'in', 'short', 'period', 'of', 'time']\n\n['Regex', 'Is']\n\n"

### write a list of test pattern having a sequence 
- sequence of non-digits
- sequence of whitespace
- sequence of non-whitespace
- alphanumeric characters
- non-alphanumeric

In [ ]:
test_phrase = 'This is a string with some numbers 1233 and a symbol #hashtag'

### find the date from the given text

In [ ]:
text="is your birthday in 12-12-1992"

### write a regrex that find anything that start with bat

In [ ]:
text="Here comes the batman in batmobile"

### write a regrex that find all the word that end with 'at'

In [ ]:
text="The cat in the hat sat flat on the mat."

### find the fistname and the last name of the person

In [ ]:
text="First Name: Travis Last Name: Baker"

 ### find all the words with an internal o.

In [ ]:
text="the quick brown fox over "

### find that begin or end with o

In [ ]:
text="quick brown fox jumps over a lazy dog"

### print the answer inthe given format . hint use re.sub
'The quick =brown= =fox=  jumped =over= the lazy =dog= '

In [ ]:
text="the quick brown fox jumped over the lazy dog"

### get the month from the given text

In [ ]:
text="bill gate was born in 28-10-1955 and will was born in 1-02-2000"

### splits before every o

In [ ]:
text="python is an object oriented langugae"

### write a pattern that find dogs and dog

In [ ]:

test_string = "I like dogs but my dog doesn't like me."

### Find all the p's and q's in the test string below.

In [ ]:

test_string = "Quick, pizzaz shop is closing. Is this a path to queensland?"

### find everything except t in word

In [ ]:
test_string = 'the quick brown fox jumped over the lazy dog'

### Find all the ^ characters in the following test sentence.

In [ ]:


test_string = """You can match the characters not listed within the class by complementing the set. 

This is indicated by including a ^ as the first character of the class; 

^ outside a character class will simply match the ^ character. 

For example, [^5] will match any character except 5."""

### Find all three digit prices in the following test sentence.

In [ ]:


test_string = 'The Mac book cost over $999, while the windows system can be bought for less than $550.'

### Find all prices in the following test sentence.

In [ ]:


test_string = """The iPhone X costs over $999, while the Android cost around $550.

Apple's MacBook Pro costs $1200, while razer blade cost $2500.

A new charger for iphone cost over $30.

Bose headphone cost around $390

"""

### find all the better in the given text

In [ ]:
robot_string = '''The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
'''

### find the word that start with bat and end with man

In [ ]:
test_string = 'Batman is the best movies, batwoman never herad about it.'

### remove the year form the given list

In [ ]:

str="Another You (1991-2000)"

### write a regex to find the url_name only

In [ ]:
name="http://www.google-map.com" # >>>google-map output

In [ ]:
doc=["Lenovo IdeaPad S145 Laptop 39,6 cm (15,6 Zoll, 1920x1080, FHD, matt) Slim Notebook (Intel Pentium N5000, 8 GB RAM, 512 GB SSD, Intel UHD-Grafik 605, Windows 10 Home) schwarz",
"HP Notebook (15,6 Zoll), HD Display, AMD A4 2 x 2.50 GHz, 8 GB RAM, 256 GB SSD, HDMI, AMD R3 Grafik, Webcam, Windows 10 Pro",
'Neu Apple MacBook Air (13", 1,1 GHz dual-core Intel Core i3 Prozessor der 10. Generation, 8 GB RAM, 256 GB) - Silber',
'Lenovo (17,3 Zoll) Notebook (Intel Pentium 5405U 4-Thread CPU, 2.30 GHz, 8GB DDR4 RAM, 256GB SSD, 1000GB, DVD±RW, Intel HD, HDMI, Webcam, Bluetooth, USB3.0, WLAN, Win 10 Prof. 64, MS Office) #6477'
]

use regrex  to find the size of the screen

use regrex to find the type of laptop eg: notebook

find the type of display

find the disk capacity size

### write a expressoion to get a name and phonenumber for the person whose name start with j and end with neu

In [ ]:
phones="""Earn Cash For Your Teeth 555-6312
Family Therapy Center 555-HUGS
Homer Jay Simpson (Plow King episode) 555-3223
Homer Jay Simpson (work) 555-7334
Jack Neu 555-7666
Jeb Neu 555-5543
Jennifer Neu 555-3652
Ken Neu 555-8752
Lionel Putz 555-5299
MAD Magazine 555-8628
Marital Street Hotline 555-1680
Marvin Monroe 555-3700
Marvin Monroe's radio therapy show 555-PAIN
Moe Szyslak (phone number spells SMITHERS) 7648-4377
Moe Szyslak 555-0000
Moe's Tavern 555-1239
Mr. Plow 555-3226"""

### from  the given input find the  month either feb or feburary and the year 
- output[('February', '2011'), ('Feb', '2012'), ('Feb', '2016')]

In [ ]:
year=" February 2011 and Feb 2012 was the worst year the Feb 2016"

### from the given  tag get the text as:
```
composer:  steven wilson 
author:  wilson 
city:  kingston 
band: porcupine tree
song: Yellow Hedgerow Dreamscape
```

In [ ]:
a="""<composer> steven wilson </composer>
    <author> wilson </author>
    <city> kingston </city>
    <band>porcupine tree</band>
    <song>Yellow Hedgerow Dreamscape</song>"""

### from the given list of string print get the output as 
```
llison Neu 99-12332-213123
Lionel Messi 123-5435-453534
Mark zukerberg 555-5299-32
Homer Jay Simpson 55-7334-324
```
using regex
hint: user a grouping from re.search method

In [ ]:
l = ["99-12332-213123 Neu, Allison", 
     " 123-5435-453534 Messi, Lionel", 
     "555-5299-32 zukerberg, Mark",
     "55-7334-324 Simpson, Homer Jay"]

### from the given string use a named capturing group to get the the hour,min,sec .

In [ ]:
s = "Sun Oct 14 12:48:13 CEST 2021"

### from the given string get the cities name only and append it in a list

In [ ]:
cities="""1.  Berlin          3.382.169 Berlin
2.  Hamburg         1.715.392 Hamburg
3.  München         1.210.223 Bayern
4.  Köln              962.884 Nordrhein-Westfalen
5.  Frankfurt am Main 646.550 Hessen
6.  Essen             595.243 Nordrhein-Westfalen
7.  Dortmund          588.994 Nordrhein-Westfalen
8.  Stuttgart         583.874 Baden-Württemberg
9.  Düsseldorf        569.364 Nordrhein-Westfalen
10. Bremen            539.403 Bremen
11. Hannover          515.001 Niedersachsen
12. Duisburg          514.915 Nordrhein-Westfalen
13. Leipzig           493.208 Sachsen
14. Nürnberg          488.400 Bayern
15. Dresden           477.807 Sachsen
16. Bochum            391.147 Nordrhein-Westfalen
17. Wuppertal         366.434 Nordrhein-Westfalen
18. Bielefeld         321.758 Nordrhein-Westfalen
19. Mannheim          306.729 Baden-Württemberg"""

### open a file code.txt and search for all the city and  post code in the a text file . 
 - use context manager (with ) keyword to open file
 - since the same city will have a many postal code 
 - create a dictionary where it will add all the postal code of the same city eg:
 ````
' Aachen': {' 52070 ', ' 52074 ', ' 52066 ', ' 52072 ', ' 52064 ', ' 52068 ', ' 52080 ', ' 52076 ', ' 52078 ', ' 52062 '},
```
output: use the question above to get the top 19 cities postal code only.

### write a program that recoginzes the postal code or not
https://en.wikipedia.org/wiki/Postcodes_in_the_United_Kingdom#:~:text=The%20outward%20code%20includes%20the,%2C%20and%20%22L1%208JQ%22.

eg:
```
N1 9GU matched!
E98 1TT matched!
TIM E22 is not a valid postcode!
A B1 A22 is not a valid postcode!
EC2N 2DB matched!

In [ ]:
codes = ["SW1A 0AA", # House of Commons
                "BS40 5AA ", # bristol
                "CB6 1AA",#cambridge
                "CB2 1TN",#cambdrige uni
                 "SW1A 1AA", # Buckingham Palace
                 "SW1A 2AA", # Downing Street
                 "DH98 1BT", # British Telecom
                 "OX1 2JD",#oxford
                 "N1 9GU", # Guardian Newspaper
                 "E98 1TT", # The Times
                 "TIM E22", # a fake postcode
                 "A B1 A22", # not a valid postcode
                 "EC2N 2DB", # Deutsche Bank
                 "SE9 2UG", # University of Greenwhich
                 "N1 0UY", # Islington, London
                 "EC1V 8DS", # Clerkenwell, London
                 "WC1X 9DT", # WC1X 9DT
                 "B42 1LG", # Birmingham
                 "B28 9AD", # Birmingham
                 "W12 7RJ", # London, BBC News Centre
                 "BBC 017" ,# a fake postcode
                 "JAM 001", #fake
                 "BD7 1DP",#bradford uni
                 "JCK 4DA", #not valid
                 
                ]

### write a expression to get first name , last name and position

hint:you can use re.split

In [ ]:
lines = ["surname: Trump, prename: Donald, profession: ex.president", 
"surname: Merkel, prename: Angela, profession: chancellor",
"surname: Biden , prename: joe , profession: president",
"surname: musk prename: elon, profession: enturperuner"]

### from a given text write a expression to get the 
```
1289,T83456

1289,Z22334

1205,T10032

1205,B77301

1205,T10786

1205,C77502

1410,K34001

1410,T98987
```

In [ ]:
text="""customer-id 1111
T93923
customer-id 1111
customer-id 1223
T10321
B71313
customer-id 1223
customer-id 1410
K34001
T98987
customer-id 1410
customer-id 1223
T10786
C77502
customer-id 1225
customer-id 1289
Z22334
customer-id 1289"""